* {
    margin: 25;
    padding: 0;
}

.cabeçalho-imagem{
    width: 15%;
    height: 15%;
}

.cabeçalho {
    background-image: url(https://w.forfun.com/fetch/2c/2cf4558a6040bf553d95e4d7108cf4d9.jpeg?w=1470&r=0.5625)
    color: white;
    display:flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabeçalho-lista-item{
    display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size:  24px;
}
